body {
    max-width: 1280px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /*max breite der seite und autozentrierung*/
}   

header {
    text-align: center;
}

header p {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    padding-right: 1em;
    margin-top: -2em;
    /*schrift rechtsbündig, hinein ins bild verschoben und vom rand weg*/
}   

.white,
.white a:link,
.white a:visited {
    color: white;
    /*die klasse white, der link in der klasse white, der angeklickte link in der klasse white*/
}   

header nav img {
    border-radius: 50%;
    /*rundes autorbild*/
}   

a:link,
a:visited {
    color:black;
}

header address {
    font-size: 0.9em;
    font-style: italic;
}


main {
    max-width: 70%;
    margin: auto;
    /*nur 70% der breite verwenden, zentrierung automatisch*/
}   

main p {
    text-align: justify;
    /*Blocksatz*/
}

main figure {
    margin-left: 0%;
    width: 100%;
}

main figure img {
    border: 1px solid black;
    /*rahmen um bild*/
}

#map {
    height: 360px;
    width: 100%;
    border: 1px solid gray;
    /*platzhalter karte mit rahmen*/
}

main ul {
    list-style-type: circle;
}

footer .next {
    float: right;
}

footer .back {
    float: left;
     /*positionierung der links*/
}

footer {
    padding: 1em 0 3em 0;
        /*rand oben, links, unten, rechts abstand*/
}